<!-- views/partials/nav.ejs -->

<nav class="navbar" role="navigation">
    <div class="container-fluid">
    
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon-console"></span>
                Newborn CTF
            </a>
    
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/organizer">Organizer</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/scoreboard">Scoreboard</a></li>
                <li><a href="/team">Team</a></li>
                <li><a href="/profile">Profile</a></li>
            </ul>
        </div>
    
    </div>
</nav>