<% include ../partials/head %>

<main>
<div class="container">
    <h1 id="about-cyber-security-at-hochschule-mannheim">About cyber-security at Hochschule Mannheim</h1>
    <p>Unsere Studierenden erwartete eine fundierte und umfassende Ausbildung in der Cyber Security.</p>

    <p>Zu den allgemeinen Grundlagen wie Programmierung, Software-Engineering, allgemeine Informatik und Mathematik kommen Cyber Security-spezifische Inhalte wie Rechnerarchitekturen &amp; Protokolle, Grundlagen der Automatisierung, Security Management und Sichere Software-Entwicklung. Sie werden in Schlüsselqualifikationen wie Teamarbeit und Kommunikation geschult und lernen fachliche Zusammenhänge, sowohl zu überblicken als auch zu analysieren. Schon während des Studiums sind sie in der Lage, mit geeigneten Methoden typische Probleme der Cyber Secuity zu lösen.</p>

    <p><a href="https://www.hs-mannheim.de/studieninteressierte/studienangebot/bachelorstudiengaenge/cyber-security.html">Follow me for more information</a></p>

    <h1 id="as-seen-in-the-news">As seen in the news</h1>
    <p><a href="https://www.morgenweb.de/mannheimer-morgen_artikel,-hochschule-studiengang-fuer-mehr-sicherheit-im-netz-_arid,1350719.html"><img src="https://dr-strauss.net/wp-content/uploads/2018/09/Mannheimer-Morgen-750x500.jpg" alt="Mannheimer Morgen" class="center-image resize" /></a></p>

    <p><a href="https://idw-online.de/de/news692079"><img src="https://pbs.twimg.com/profile_images/727819471079907329/5JReCIdu_400x400.jpg" alt="iwd" class="center-image resize" /></a></p>

    <p><a href="https://www.rnz.de/nachrichten/mannheim_artikel,-hochschule-mannheim-neuer-bachelor-soll-digitale-experten-ausbilden-_arid,352799.html"><img src="https://static.city-map.de/infoPageContent/9259_0_16180015801.jpg" alt="RNZ" class="center-image resize" /></a></p>

    <p><a href="https://www.focus.de/regional/mannheim/mannheim-fuer-eine-sichere-zukunft-neuer-studiengang-cyber-security-an-der-hochschule-mannheim_id_8716874.html"><img src="https://logistik-aktuell.com/wp-content/uploads/sites/487/Focus-online-logo-650x315.png" alt="Focus" class="center-image resize" /></a></p>
</div>
</main>

<% include ../partials/footer %>